* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: black;
}

#container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: black solid 3px;
  background-color: #1f2937;
}

.title-main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20rem;
}

.title-span {
  color: #4adf86;
  margin-top: 0.5rem;
}

h3 {
  color: #d5d4d8;
  margin-right: 15rem;
  margin-bottom: 3rem;
}

.generator-btn {
  padding: 1rem;
  width: 15rem;
  margin: 2rem;
  font-size: 1rem;
  color: white;
  background-color: #10b981;
  border: none;
  border-radius: 0.5rem;
}

.generator-btn {
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.generator-btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

#passwords {
  display: flex;
  height: 10rem;
}

.password-result {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
  margin: 3rem;
  width: 18rem;

  background-color: #273549;
  color: #55f991;
  /* font-size: 1.1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
}

#slider-value {
  width: 100%;
  border-bottom: 1px solid #2f3e53;
  padding-bottom: 2rem;
}

input[type="range"] {
  overflow: hidden;
  border-radius: 1rem;
  width: 20rem;
  height: 1rem;
  appearance: none;
  background-color: #111827;
  cursor: pointer;
}
